.top{

        margin: 1px 405px;
    width: 818px;
}
.img111{
	
	    width: 383px;

    height: 344px;
}

.center{
	margin: -179px 405px;
    width: 815px
	
}

.left1{
	
   margin: -241px 1px;
   width: 200px;
}


.left2{
	width: 374px;
	margin: 249px 1px;
}

.left3{
	width: 300px;
	margin: -240px 1px;
}

.otz2{
	margin: -241px -146px;
}

.otz3{
	margin: -14px 212px;
}
.otz4{
	margin: -304px -210px;
}